<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <title >Glambox</title>
</head>
<body>
        <%- include('./partials/navbar') %>
        <% if (success && success.length > 0) { %>
            <div class="alert alert-success">
              <%= success %>
            </div>
          <% } %>
          
          <% if (error && error.length > 0) { %>
            <div class="alert alert-danger">
              <%= error %>
            </div>
          <% } %>
          <div class="topdiv">
            <img id="logo-img" class="icon" src="/images/glamboxlogo.png" alt="">
            <h1 class="keywords">Glambox</h1>
            <span class="text" id="keywords"><h1> Capture Your Moments</h1></span>
          </div>
    <%- body %>
    <!-- <%- include('./partials/footer') %> -->


</body>
</html>