<% layout('layouts/boilerplate') -%>

<div class="links">
    <a href="/posts/new">Create post</a>
    <a href="/posts">All posts</a>
    </div>     

    <div class="home-container">
        
        <% if (posts.length > 0) { %>
            <% for(let post of posts) { %>
                <div class="post-container">
                    <a class="text" id="post-title" href="/posts/<%= post._id %>"> <%= post.title %></a>
                    <p>
                        <%= post.createdAt.toLocaleDateString() %> by <%= post.author.username  %>
                    </p>
                    
                    <% if (post.images && post.images.length > 0) { %>
                        <a href="/posts/<%= post._id %>">
                        <img src="<%= post.images[0].url %>" alt="Post Image" class="post-image">
                    <% } %>
                     </a>
                    <p class="text" >  <%= post.caption %></p>
                </div>
            <% } %>
        <% } else { %>
            <div class="post-container">
                <p>No posts found.</p>
            </div>
        <% } %>
    </div>